<div class="card">
  <div class="card-head">
    <h3>Reliance Industries Ltd</h3>
    <small>RELIANCE</small>
    <div class="main-indicators">
      <h5>2,595.85 USD</h5>
      <h5 class="green"><i class="bi bi-caret-up-fill"></i>20</h5>
    </div>
    <button class="btn">Place Order</button>
  </div>

  <div class="card-body">
    <article>
      <h5 class="underline">Basic Details</h5>
      <p>Market Cap: 232839</p>
      <p>Sector: Technology</p>
      <p>Region: Technology</p>
      <p>Exchange Name: Technology</p>
      <p>Exchange Name: NASDAQ</p>
      <p>PE Ratio: 4</p>
    </article>
    <article>
      <h5 class="underline">ESG Details</h5>
      <p>ESG Score: 14</p>
      <p>Environment Score: 14</p>
      <p>Social Score: 14</p>
      <p>Governance Score: 14</p>
    </article>
  </div>
</div>
