.card {
  text-align: center;
  padding: 5px 10px;
  border: 5px solid green;
}

.e {
  border: 5px solid green;
  h2 {
    color: green;
  }
}

.s {
  border: 5px solid blue;
  h2 {
    color: blue;
  }
}

.g {
  border: 5px solid yellow;
  h2 {
    color: #8b8b30;
  }
}
