<div class="bg-white">
  <header class="tool-header">
    <div class="text-center">
      <h1>Helping you commit to a better future</h1>
      <p>
        We are on our path to enable investors with sustainable ESG investment
        decisions
      </p>
      <h5 class="red">
        At ESG Enabler we are optimizing FIRE engine to help you visualize –
        “Future of Investing with Responsibility of Environment”
      </h5>
    </div>
  </header>
  <section class="featured-background">
    <div class="tool-img">
      <img
        src="https://media.istockphoto.com/photos/abstract-3d-leaves-forming-esg-text-picture-id1299814861?k=20&m=1299814861&s=612x612&w=0&h=YEH9tfYb_zbTrCxlDewre4cyTEBeyx0SpvXwnAwko-4="
      />
    </div>
    <div class="featured-btn-container">
      <button type="button" class="get-stared-button" (click)="goToLogin()">
        GET STARTED
      </button>
    </div>
  </section>
  <section class="why-section">
    <h2 class="text-center">Why Businesses choose ESGEnaber</h2>
    <div class="content-container">
      <div class="card" style="width: 25rem">
        <i class="fa fa-bell text-center"></i>
        <div class="card-body">
          <h5 class="card-title">Connect to diverse data sources</h5>
          <p class="card-text">
            We support large number of data sources of various types and make it
            easy for you to plug-in and plug-out the source with minimal impact
            on report output
          </p>
        </div>
      </div>
      <div class="card" style="width: 25rem">
        <i class="fa fa-bell text-center"></i>
        <div class="card-body">
          <h5 class="card-title">Auto-classified & normalized model</h5>
          <p class="card-text">
            <strong>AI/ML enabled FIRE engine </strong> classifies and
            normalizes the data coming from various sources, taking away manual
            efforts and makes it ready to consume on the go
          </p>
        </div>
      </div>
      <div class="card" style="width: 25rem">
        <i class="fa fa-bell text-center"></i>
        <div class="card-body">
          <h5 class="card-title">Rating & ESG score generation</h5>
          <p class="card-text">
            ESG Enabler is equipped to generate final ESG score and rating of a
            company based on <strong> 500+ data points,</strong> to help you
            with quick decision making
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="how-it-works-section">
    <h2 class="text-center">How It Works</h2>
    <div class="how-it-works-steps">
      <div style="width: 45%">
        <ul>
          <li>
            <h2><span class="number-patch">1</span>Design Workflow</h2>
            <p class="margin-left-15">
              Use our interactive tool to create workflows for your product
            </p>
          </li>
          <li>
            <h2>
              <span class="number-patch">2</span>Link artifacts to workflow
            </h2>
            <p class="margin-left-15">
              Import wireframes, data requirements, user stories and test
              scenarios and link them to workflow steps
            </p>
          </li>
          <li>
            <h2>
              <span class="number-patch">3</span>Collaborate with your team
            </h2>
            <p class="margin-left-15">
              All project stakeholders can seamless collaborate by providing
              feedback and comments in the context of a product development
              artifact
            </p>
          </li>
        </ul>
      </div>
      <div style="width: 50%">
        <video
          width="100%"
          height="340"
          src="https://www.youtube.com/watch?v=Mlk888FiI8A&loop=1"
          controls
          autoplay
        >
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>
</div>
